@use '../../mixins' as m;

.secondary-component{
    min-height: 4.4rem;
    height: 100%;
    min-width: 17rem;
    width: fit-content;
    border-radius: 50px;
    outline: none;
    border: none;
    background: rgba(245, 245, 245, 0.1);
    box-shadow: 1.41px 5.66px 7.07px 0px rgba(0, 0, 0, 0.25) inset;
    padding-inline: 0.6rem;
    @include m.flex-between;
    cursor: pointer;

    span{
        text-align: center;
        color: var(--white-color);
        @include m.font-size(22);
        @include m.line-height(22);
        padding-inline: 1rem;
    }

    .action-btn{
        height: 3.6rem;
        width: 3.6rem;
        background-color: var(--black-color);
        box-shadow: 1.4px 5.61px 7.01px 0px rgba(0, 0, 0, 0.25) inset;
        border-radius: 50px;

        @include m.flex-center;

        span{
            width:32px;
            height:32px;
            display: inline-block;
            padding: 0rem;

            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center;
                filter: brightness(0) saturate(100%) invert(86%) sepia(0%) saturate(0%) hue-rotate(224deg) brightness(96%) contrast(90%);
                transition: filter 0.3s ease;
            }
        }
    }

    &:hover,
    &:active,
    &:focus{

        .action-btn{
            span{

                img{
                    filter: brightness(0) saturate(100%) invert(100%);
                }
            }
        }
    }
}