@use '../../mixins' as m ;

$gray-color: #838383;

.horizontal-text{
    width: fit-content;
    height: fit-content;


    // .arrowdown {
    //   width: 43px;
    //   height: 43px;
    //   border-radius: 50px;
    //   background: $gray-color;
    //   box-shadow: 0px 2.89px 2.89px 0px rgba(0, 0, 0, 0.25) inset;
    //   @include m.flex-center;
    //   margin-top: 4rem;
    //   cursor: pointer;
    //   transition: all 0.3s ease;
    //   position: relative;
    //   overflow: hidden;

    //   &::before {
    //     content: '';
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 0;
    //     height: 0;
    //     background: rgba(255, 255, 255, 0.2);
    //     border-radius: 50%;
    //     transform: translate(-50%, -50%);
    //     transition: width 0.3s ease, height 0.3s ease;
    //   }

    //   &:hover {
    //     background: $gray-color;
    //     transform: translateY(-2px);

    //     &::before {
    //       width: 100%;
    //       height: 100%;
    //     }

    //   }

    //   &:active {
    //     transform: translateY(0);
    //   }

    //   span {
    //       display: inline-block;
    //       width: 20px;
    //       height: 20px;
    //       transform: rotate(90deg);

    //     img {
    //       width: 100%;
    //       height: 100%;
    //       object-fit: contain;
    //       object-position: center;
    //       transition: filter 0.3s ease;
    //     }

    //   }

    // }

    .horizontal-text{
        color: yellow;
        writing-mode: vertical-rl;
        text-orientation: mixed;
        transform: rotate(180deg);
        letter-spacing: 2px;    
        font-weight: 400;
        cursor: pointer;
    }
}