@use "../../mixins" as m;

$gray-color: #838383;

.loadingComponent {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: var(--bg-color);
  font-family: "Outfit", sans-serif;

  @include m.flex-center;

  .loadingcontainer {
    min-width: 300px;
    height: 80px;
    max-width: 400px;
    @include m.flex-center;
    flex-direction: column;
    position: relative;

    .introTEXT {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        white-space: nowrap;
        animation: intrSPANhidden 2s ease-out 1.5s forwards; 

        &:first-child {
            @include m.font-size(20);
            @include m.line-height(20);
        }

        span {
            margin-left: 0.6rem;
            color: $gray-color;
            font-weight: 400;
            display: inline-block;
            opacity: 0;
            transform: translateY(25px);
            animation: intrSPANup 0.6s ease forwards;

            &:nth-child(1) {
                animation-delay: 0.2s;
            }
            &:nth-child(2) {
                font-weight: 600;
                color: #fff;
                animation-delay: 0.6s;
            }
            &:nth-child(3) {
                animation-delay: 1s;
            }
        }
    }
  }

  .animationBg{
    position: relative;
    left: 15%;
    top: 0%;

    width: 300px;
    height: 40px;
    border-radius: 2px;
    background-image: linear-gradient(90deg, #FF007F -93.73%, #7A00FF 96.55%);
    opacity: 0;
    animation: animationBGBAR 2s ease forwards 3s, animationBgHEIGHREDUCE 1.1s ease forwards 5.3s;
  }

  .animationText{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    white-space: nowrap;
    @include m.font-size(24);
    @include m.line-height(24);
    font-weight: 600;
    letter-spacing: 2px;
    color: #ffff;
    opacity: 0;
    animation: animationTextSHOWHIDE 3s ease forwards 5.3s;
  }
}

@keyframes intrSPANup {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes intrSPANhidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(1px) translateY(-50%);
  }
}

@keyframes animationBGBAR {
  0% {
    opacity: 1;
    left: 30%;
  }
  30% {
    opacity: 1;
    left: -15%;
  }
  100% {
    left:0%;
    opacity: 1;
  }
}

@keyframes animationBgHEIGHREDUCE {
    0%{
        height: 40px;
    }
    100%{
        height: 100%;
        top: 0%;
        opacity: 0;
    }
}

@keyframes animationTextSHOWHIDE {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
  15% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
}
