@use '../../mixins' as m;

.about2-component{
    width: var(--lg-screen-maxwidth);
    min-width: var(--lg-screen-minwidth);
    height: 100vh;
    margin-inline: auto;
    color: var(--black-color);
    position: relative;
    display: flex;
    overflow: hidden;

    .about2info-section{
        width: 50%;
        height: 100%;
        margin-top: 5rem;
        padding: 4rem 5.5rem 0rem 0rem;

        h2{
            font-family: "Outfit", sans-serif;
            @include m.font-size(74);
            @include m.line-height(74);
            letter-spacing: 4px;
            font-weight: 700;
            margin-bottom: 3rem;
        }

        p{
            width: 80%;
            @include m.font-size(20);
            @include m.line-height(24);
            font-weight: 300;
            font-family: "Outfit", sans-serif;
            color: #838383;
            margin-bottom: 3rem;
        }

        .btn-section{
            margin-bottom: 3rem;
        }

        h4{
            @include m.font-size(24);
            @include m.line-height(28);
            font-weight: 300;

            span{
                &:nth-child(even){
                    font-weight: 600;
                }
            }
        }
    }

    .about2image-section{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;

        .imagecontainer{
            width: 25rem;
            height: 44.5rem;
            overflow: hidden;
            padding: 2.5rem;
            border-radius: 50px 0px 50px 0px;
            background: linear-gradient(139.04deg, rgba(175, 136, 223, 0.62) 29.4%, rgba(135, 105, 172, 0.04) 47.57%, rgba(95, 74, 121, 0) 69.54%);
            z-index: 10;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px 0px 50px 0px;
            }
        }
    }

    .bg-layer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;

        @include m.floatMove(50px, 80px, 10s, ease-in-out);
    }
}