@use '../../mixins' as m;

$gray-color:#838383;

.visiter-container{
    width: 100%;
    min-height: 100vh;
    width: 100%;

    .about-container {
        transition: background-color 1s ease-in-out;
        position: relative;

        .about-component {
            .bg-layer {
                opacity: 0;
                transition: opacity 1s ease-in-out;
            }
        }

        &.about-container-BGChange {
            background-color: var(--white-color);

            .about-component {
                .bg-layer {
                    opacity: 1;
                }
            }
        }
    }

    .service-container{
        position: relative;

        .infonav{
            position: absolute;
            top: 10%;
            right: 0;
            display: flex;
            align-items: center;

            p {
                margin: 0 10px 0 0;
                white-space: nowrap;
                font-family: "Outfit", sans-serif;
                @include m.font-size(16);
                @include m.line-height(22);
                font-weight: 400;
                color: $gray-color;
                letter-spacing: 1px;
            }

            .line {
                width: 40rem; 
                height: 2px; 
                background-color: $gray-color;
                border-radius: 50px;
                margin-top: 10px;
            }
        }
    }

    .about2-container{
        background-color: var(--white-color);
    }
}

@include m.max-media(laptop){
    .visiter-container{
        .service-container{
            .infonav{
                p{
                    @include m.font-size(16);
                    @include m.line-height(20);
                }
                .line{
                    width: 30rem;
                }
            }
        }
    }
}

@include m.max-media(tablet){
    .visiter-container{
        .service-container{
            .infonav{
                p{
                    @include m.font-size(14);
                    @include m.line-height(18);
                }
                .line{
                    width: 20rem;
                }
            }
        }
    }
}

@include m.max-media(mobile){
    .visiter-container{
        .service-container{
            .infonav{
                p{
                    @include m.font-size(10);
                    @include m.line-height(18);
                }
                .line{
                    width: 10rem;
                }
            }
        }
    }
}