@use '../../mixins' as m;

$gray-color:#838383;

.contact-component{
    min-height: 100vh;
    background-color: var(--white-color);
    color: var(--black-color);
    overflow: hidden;

    position: relative;

    .infonav{
        margin-top: 14rem;
        display: flex;

        p {
            margin: 0 0 0 10px;
            white-space: nowrap;
            font-family: "Outfit", sans-serif;
            @include m.font-size(16);
            @include m.line-height(22);
            font-weight: 400;
            color: $gray-color;
            letter-spacing: 1px;

            span{
                display: inline-block;
                margin-right: 1rem;
                color: var(--black-color);
                
                a{
                    text-decoration: none;
                    color: var(--black-color);
                }

                &:last-child{
                    a{
                        color: $gray-color;
                        cursor: default;
                    }
                }
            }
        }

        .line {
            width: 40rem; 
            height: 1px; 
            background-color: $gray-color;
            border-radius: 50px;
            margin-top: 10px;
        }
    }

    .contact-container{
        width: var(--lg-screen-maxwidth);
        min-width: var(--lg-screen-minwidth);
        margin-inline: auto;

        .contactheading-section{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 2rem 0rem;

            h2{
                @include m.font-size(74);
                @include m.line-height(74);
                font-family: "Outfit", sans-serif;
                font-weight: 600;
                color: var(--black-color);
                margin-top: 2rem;
            }

            .arrowdown{
                width: 43px;
                height: 43px;
                border-radius: 50px;
                background: $gray-color;
                box-shadow: 0px 2.89px 2.89px 0px rgba(0, 0, 0, 0.25) inset;
                @include m.flex-center;
                margin-top: 4rem;

                span{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    transform: rotate(90deg);

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
        }

        .contactbody-section{
            padding: 4rem 0rem 2rem 0rem;
            margin-top: 10rem;
            
            h4{
                @include m.font-size(48);
                @include m.line-height(48);
                font-family: "Outfit", sans-serif;
                font-weight: 500;
                text-align: center;
                margin-bottom: 4rem;

                span{
                    &:last-child{
                        font-weight: 200;
                    }
                }
            }
            
            .inputsalgin{
                display: flex;
                flex-direction: row;
                gap: 4rem;
            }

            .inputcontainer{
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 4rem;

                &:last-child{
                    margin-bottom: 1.5rem;
                }

                label{
                    @include m.font-size(16);
                    @include m.line-height(16);
                    font-family: "Outfit", sans-serif;
                    font-weight: 400;
                    letter-spacing: 2px;
                    color: $gray-color;
                    margin-left: 1rem;
                }

                input,
                textarea{
                    outline: none;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid $gray-color;
                    padding: 1rem;
                    color: #333;
                }
            }
        }

        .contactfooter-section{
            margin-bottom: 6rem;
            padding: 2rem 0rem;
            
            @include m.flex-between;

            p{
                @include m.font-size(16);
                @include m.line-height(16);
                font-family: "Outfit", sans-serif;
                font-weight: 500;
                letter-spacing: 1px;
                color: $gray-color;
                display: flex;

                .impo{
                    color: red;
                    margin-right: 4px;
                }
            }
        }

    }

    .bg-layer-top{
        position: absolute;
        top: 3%;
        left: 50%;
        opacity: 0.3;
        transform: translate(-50%,-50%);
    }
    .bg-layer-bottom{
        position: absolute;
        bottom: -18%;
        left: 50%;
        opacity: 0.3;
        transform: translate(-50%,-50%);
    }
}

@include m.max-media(desktop){
    .contact-component{
        .infonav{
            p {
                @include m.font-size(16);
                @include m.line-height(22);
            }

            .line {
                width: 30rem; 
            }
        }

        .contact-container{
            width: min(var(--lg-screen-minwidth), 92%);
            min-width: var(--lg-screen-minwidth);

            .contactheading-section{
                h2{
                    @include m.font-size(62);
                    @include m.line-height(62);
                    margin-top: 1.5rem;
                }
                .arrowdown{
                    margin: 3rem;
                }
            }

            .contactbody-section{
                margin-top: 5rem;

                h4{
                    padding-bottom: 4rem;
                }
            }
        }
    }
}

@include m.max-media(tablet){
    .contact-component{
        .infonav{
            p {
                @include m.font-size(14);
                @include m.line-height(20);
            }

            .line {
                width: 15rem; 
            }
        }

        .contact-container{
            min-width: 100%;
            padding: 0rem 2rem;

            .contactheading-section{
                h2{
                    @include m.font-size(52);
                    @include m.line-height(52);
                    margin-top: 1.5rem;
                }
                .arrowdown{
                    margin: 3rem;
                }
            }

            .inputsalgin{
                flex-direction: column !important;
                gap: 0rem !important;

                margin-bottom: 4rem;
            }

            .inputcontainer{

            }

            .contactbody-section{
                margin-top: 2.5rem;

                h4{
                    padding-bottom: 4rem;
                }
            }

        }

        .contactfooter-section{

            p{
                @include m.font-size(14);
                @include m.line-height(18);
                max-width: 70%;
            }
        }
    }
}

@include m.max-media(mobile){
    .contact-component{
        .infonav{
            .line {
                width: 8rem; 
            }
        }

        .contact-container{
            min-width: 100%;
            padding: 0rem;

            .contactheading-section{
                h2{
                    @include m.font-size(48);
                    @include m.line-height(48);
                    margin-top: 1.5rem;
                }

                .arrowdown{
                    margin-bottom: 0rem;
                }
            }

            .contactbody-section{
                margin-top: 3rem;
            }

            .inputsalgin{
                margin-bottom: 3rem;
            }


            .contactbody-section{
                margin-top: 2.5rem;

                h4{
                    padding-bottom: 4rem;
                }
            }

        }

        .contactfooter-section{
            gap: 2rem;
            flex-direction: column;
            align-items: start !important;
            padding-inline: 2rem !important;

            p{
                @include m.font-size(14);
                @include m.line-height(18);
                max-width: 100%;
            }

            .primary-component{
                margin-top: 3rem;
                margin-left: auto;
            }

        }
    }
}