@use "sass:map";

@mixin font-size($size) {
  font-size: calc($size / 16 * 1rem);
}

@mixin line-height($size) {
  line-height: calc($size / 16 * 1rem);
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin text-ellipsis($lines: 1) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}
// @include text-ellipsis(2); 

@mixin floatMove($up: 50px, $down: 80px, $duration: 5s, $timing: ease-in-out) {
  animation: floatMove $duration $timing infinite;

  @keyframes floatMove {
    0% {
      transform: translate(-50%, calc(-50% - #{$up}));
    }
    50% {
      transform: translate(-50%, calc(-50% + #{$down}));
    }
    100% {
      transform: translate(-50%, calc(-50% - #{$up}));
    }
  }
}


@mixin custom-scrollbar($thumb-color: #aaa, $track-color: transparent) {
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-track {
    background-color: $track-color;
  }
}

// media query 
$breakpoints: (
  mobile: 480px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1280px,
  qhd: 1440px,
  uhd: 2160px
);

@mixin media($size) {
  @media (min-width: map.get($breakpoints, $size)) {
    @content;
  }
}

$maxbreakpoints: (
  mobile: 768px,
  tablet: 1024px,
  laptop: 1280px,
  desktop: 1440px,
  qhd: 2160px,
);

@mixin max-media($size) {
  @media (max-width: map.get($maxbreakpoints, $size)) {
    @content;
  }
}