.threads-container {
  background-color: var(--black-color) !important;
  position: relative;
  width: 100%;
  height: 100%;
}

.threads-wrapper {
  canvas {
    opacity: 0;
    animation: fadeInCanvas 0.3s ease-in forwards;
    animation-delay: 0.1s;
  }
}

@keyframes fadeInCanvas {
  to {
    opacity: 1;
  }
}