.App_container {
  width: 100%;
  min-height: 100vh;

  .Herosection_container {
    --grid-size: 60px;
    --grid-color: hsla(var(--clr-White), 0.1);
    --mouse-x: 50%;
    --mouse-y: 50%;
    max-width: 100%;


    position: relative;
    width: 100vw;
    height: calc(100vh - 4rem);
    overflow: hidden;
    background-color: hsl(var(--primary-bg-color));
    color: hsl(var(--clr-White));
    border-block-end: 1px solid hsl(var(--br-color-light_blue),0.6);

    .gridlayout-background {
      position: absolute;
      width: 100%;
      height: 100%;
      background:
        linear-gradient(var(--grid-color) 1px, transparent 1px),
        linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
      background-size: var(--grid-size) var(--grid-size);
      background-position: center center;
      transform: translate(calc((var(--mouse-x) - 50%) * 0.1),
          calc((var(--mouse-y) - 50%) * 0.1));
      transition: transform 0.4s ease-out;
      will-change: transform;


      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 6rem;
        background-color: hsl(var(--primary-bg-color));
        z-index: 1;
      }
    }
  }
  
  .about_container{
    width: 100%;
    min-height: 100vh;
    border-block-end: 1px solid hsl(var(--br-color-light_blue),0.6);
  }

  .works_container{
    width: 100%;
    min-height: 100vh;
    border-block-end: 1px solid hsl(var(--br-color-light_blue),0.6);
  }

  .service_container{
    width: 100%;
    min-height: 100vh;
    border-block-end: 1px solid hsl(var(--br-color-light_blue),0.6);
  }

  .contact_container{
    width: 100%;
    min-height: 100vh;
  }
}


@media (width < 480px){
  .App_container{
  .Herosection_container {
    --grid-size: 20px;

    height: calc(100vh - 4rem);

    .gridlayout-background {
      &::before {
        height: 1rem;
      }
    }
  }
  
  }
}