*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Inter", sans-serif;
    /* font-family: "Outfit", sans-serif; */
    font-optical-sizing: auto;
    line-height: 16+8;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg-color:#000000;
    --white-color:#ffffff;
    --black-color:#000000;

    --lg-screen-minwidth: 1024px;
    --lg-screen-maxwidth: 1440px;

    /* colors */
    /* --primary-bg-color: 240, 33%, 8%;
    --secondary-color: 225, 19%, 59%;

    --clr-Dark_Dlue: 248, 100%, 35%;
    --clr-Electric_Violet: 278, 87%, 58%;
    --clr-Persian_Rose: 327, 100%, 56%;
    --clr-White: 0, 0%, 100%;

    --br-color-light_blue: 210, 14%, 34%; */
}

/* background: linear-gradient(180deg, #FF1F8F 0%, #A834F2 50%, #1F00B0 100%); */
/* transform-style: inherit; */


body {
    background-color: var(--bg-color);
    color: var(--white-color);
    font-size: 1rem;
    min-height: 100vh;
    width: 100%;

    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Reset margin */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: 400;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}