@use '../../mixins' as m;

$gray-color:#838383;

.infoservice-component{
    min-height: 100vh;
    background-color: var(--black-color);
    color: var(--white-color);
    overflow: hidden;

    position: relative;

    .infonav{
        margin-top: 14rem;
        display: flex;
        z-index: 10;
        position: relative;

        p {
            margin: 0 0 0 10px;
            white-space: nowrap;
            font-family: "Outfit", sans-serif;
            @include m.font-size(16);
            @include m.line-height(22);
            font-weight: 400;
            color: $gray-color;
            letter-spacing: 1px;

            span{
                display: inline-block;
                margin-right: 1rem;
                color: var(--white-color);
                
                a{
                    text-decoration: none;
                    color: var(--white-color);
                }

                &:last-child{
                    a{
                        color: $gray-color;
                        cursor: default;
                    }
                }
            }
        }

        .line {
            width: 40rem; 
            height: 2px; 
            background-color: $gray-color;
            border-radius: 50px;
            margin-top: 10px;
        }
    }

    .infoservice-container{
        width: var(--lg-screen-maxwidth);
        min-width: var(--lg-screen-minwidth);
        margin-inline: auto;

        .infoserviceheading-section{
            display: flex;
            flex-direction: column;
            padding: 2rem 0rem;

            h2{
                @include m.font-size(74);
                @include m.line-height(74);
                font-family: "Outfit", sans-serif;
                font-weight: 600;
                color: var(--white-color);
                margin-top: 2rem;

                span{
                    &:nth-child(even){
                        font-weight: 100;
                    }
                }
            }

            .infosercicesubheading-section{
                margin-top: 6rem;
                display: flex;
                align-items: center;
                gap: 2rem;

                h4{
                    @include m.font-size(20);
                    @include m.line-height(20);
                    font-family: "Outfit", sans-serif;
                    font-weight: 400;
                    color: var(--white-color);
                }

            .arrowdown{
                width: 43px;
                height: 43px;
                border-radius: 50px;
                background: $gray-color;
                box-shadow: 0px 2.89px 2.89px 0px rgba(0, 0, 0, 0.25) inset;
                @include m.flex-center;

                span{
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    transform: rotate(90deg);

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: center;
                    }
                }
            }
            }
        }

        .infoservicebody-section{
            padding: 2rem 0rem;
            margin-top: 2rem;
            margin-left: 22rem;

            .cards-section{
                display: flex;
                gap: 2rem;
                margin-bottom: 4rem;

                .card-section{
                    width: 100%;
                    padding: 1rem;

                    &:nth-child(even){
                        position: relative;
                        bottom: 1rem;
                    }

                    h4{
                        @include m.font-size(24);
                        @include m.line-height(24);
                        font-weight: 600;
                        font-family: "Outfit", sans-serif;
                        margin-bottom: 2rem;
                    }

                    .info{
                        color: $gray-color;
                        @include m.font-size(16);
                        @include m.line-height(20);
                        font-weight: 600;
                        margin-bottom: 1.5rem;
                    }

                    ul{
                        padding: 2rem 0rem;
                        padding-left: 1rem;
                        li{
                            margin-bottom: 2rem;
                            p{
                                color: $gray-color;
                                @include m.font-size(16);
                                @include m.line-height(20);
                                font-weight: 700;
                                letter-spacing: 1px;
                            }
                        }
                    }

                    .moreifno{
                        display: flex;
                        align-items: center;
                        gap: 1.5rem;
                        p{
                            color: var(--white-color);
                            @include m.font-size(16);
                            @include m.line-height(20);
                            font-weight: 700;
                            letter-spacing: 1px
                        }

                        .arrowdown{
                            width: 33px;
                            height: 33px;
                            border-radius: 50px;
                            background: $gray-color;
                            box-shadow: 0px 2.89px 2.89px 0px rgba(0, 0, 0, 0.25) inset;
                            @include m.flex-center;

                            span{
                                display: inline-block;
                                width: 16px;
                                height: 16px;

                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    object-position: center;
                                    filter: brightness(0) saturate(100%) invert(100%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .servicecontact-container{
        width: 100%;
        min-height: 70vh;
        background-color: var(--white-color);
        position: relative;

        .contactservice-infonav{
            position: absolute;
            top: 15%;
            right: 0;
            display: flex;
            align-items: center;

            p {
                margin: 0 10px 0 0;
                white-space: nowrap;
                font-family: "Outfit", sans-serif;
                @include m.font-size(16);
                @include m.line-height(22);
                font-weight: 400;
                color: $gray-color;
                letter-spacing: 1px;
                text-align: right;
            }

            .line {
                width: 30rem; 
                height: 2px; 
                background-color: $gray-color;
                border-radius: 50px;
                margin-top: 10px;
            }
        }

        .contactinfo-section{
            min-height: 70vh;
            width: var(--lg-screen-maxwidth);
            min-width: var(--lg-screen-minwidth);
            margin-inline: auto;
            color: var(--black-color);
            padding: 1rem;

            @include m.flex-center;
            gap: 2rem;
            flex-direction: column;
            position: relative;
            top: 4rem;

            h2{
                @include m.font-size(74);
                @include m.line-height(74);
                font-family: "Outfit", sans-serif;
                font-weight: 600;
                color: var(--black-color);
                text-align: center;
                margin-bottom: 1rem;

                span{
                    &:nth-child(even){
                        font-weight: 100;
                    }
                }
            }

            .primary-component{
                min-height: 4rem;

                .action-btn{
                    height: 3.3rem;
                    width: 3.3rem;

                    span{
                        width:22px;
                        height:22px;
                    }
                }
            }
        }
    }

    .bg-layer-top{
        position: absolute;
        top: 3%;
        left: 50%;
        opacity: 15%;
        transform: translate(-50%,-50%);
        z-index: 2;
    }

    .bg-layer-left{
        position: absolute;
        top: 40%;
        left: 0%;
        opacity: 15%;
        transform: translate(-50%,-50%);
    }

    .bg-layer-right{
        position: absolute;
        top: 70%;
        right: -6%;
        opacity: 15%;
        transform: translate(-50%,-50%);
    }
}