@use '../../mixins' as m;

$paragraphcolor: #9f9f9f;

.about-component{
    width: min(var(--lg-screen-minwidth), 92%);
    min-width: var(--lg-screen-minwidth);
    padding: 4rem 1rem;
    min-height: 100vh;
    margin-inline: auto;
    color: var(--black-color);

    position: relative;
    display: flex;
    overflow: hidden;

    @media (max-width: 1024px){
        min-width: 100%;
    }

    .aboutinfo-section{
        width: 50%;
        height: 100%;
        margin-top: 5rem;
        padding: 4rem 5.5rem 0rem 0rem;

        display: flex;
        text-align: start;
        justify-content: center;
        flex-direction: column;

        .heading-section{
            display: flex;
            align-items: center;
            margin-bottom: 2rem;
            margin: 4rem 0rem;

            span{
                display: inline-block;
                max-width: 130px;
                max-height: 130px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

            h2{
                @include m.font-size(36);
                @include m.line-height(40);

                font-size: clamp(28px, 4.5vw, 48px);
                line-height: clamp(34px, 5vw, 48px);

                font-weight: 700;
                letter-spacing: 5px;
                font-family: "Outfit", sans-serif;

                span{
                    &:last-child{
                        font-weight: 100;
                    }
                }
            }

        }

        .subheading-section{
            margin-bottom: 2rem;

            h3{
                @include m.font-size(34);
                @include m.line-height(38);
                font-weight: 700;
                letter-spacing: 5px;

                span{
                    &:last-child{
                        font-weight: 100;
                    }
                }
            }
        }

        p{

            @include m.font-size(16);
            @include m.line-height(24);
            font-weight: 300;
            font-family: "Outfit", sans-serif;
            color: $paragraphcolor;
            margin-bottom: 2rem;
            letter-spacing: -1px;
            line-height: 1.9;

            font-size: clamp(14px, 1.6vw, 24px);

        }
        @include m.max-media(mobile){
            p{

                @include m.font-size(20);
                @include m.line-height(28);
            }
        }
        @include m.max-media(tablet){
            p{

                @include m.font-size(20);
                @include m.line-height(28);
            }
        }
    }

    .aboutimage-section{
        width: 50%;
        display: flex;
        align-items: center;

        .imagecontainer{
            // width: 25rem;
            height: 44.5rem;
            overflow: hidden;
            padding: 2.5rem;
            border-radius: 70px 0px 70px 0px;
            background: linear-gradient(139.04deg, rgba(175, 136, 223, 0.62) 29.4%, rgba(135, 105, 172, 0.04) 47.57%, rgba(95, 74, 121, 0) 69.54%);
            z-index: 10;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px 0px 50px 0px;
            }
        }
    }

    .bg-layer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;

        @include m.floatMove(50px, 80px, 35s, ease-in-out);

        img{
            opacity:0.3;
        }
    }
}

@include m.media(desktop){
    .about-component{
        width: min(1100px, 70%);
        .aboutinfo-section{
            .heading-section{
                span{
                    max-width: 100px;
                    max-height: 100px;
                }

                h2{
                    @include m.font-size(48);
                    @include m.line-height(48);
                }
            }

            .subheading-section{
                h3{
                    @include m.font-size(40);
                    @include m.line-height(44);
                }
            }
        }
    }
}

@include m.media(laptop){
    .about-component{
        .aboutinfo-section{
            padding: 0rem 5.5rem 0rem 0rem;
            .heading-section{
                span{
                    max-width: 100px;
                    max-height: 100px;
                }

                h2{
                    @include m.font-size(38);
                    @include m.line-height(40);
                }
            }

            .subheading-section{
                h3{
                    @include m.font-size(36);
                    @include m.line-height(40);
                }
            }
        }
    }
}

@include m.media(tablet){
    .about-component{
        display: flex;
        justify-content: center;
        align-items: center;

        .aboutinfo-section{
            margin-top: 0rem;
            padding: 0rem 2.5rem 0rem 0rem;

            .heading-section{
                span{
                    max-width: 100px;
                    max-height: 100px;
                }
                h2{
                    font-size: clamp(28px, 4.5vw, 40px);
                    @include m.line-height(40);
                }
            }

            .subheading-section{
                h3{
                    font-size: clamp(26px, 4vw, 36px);
                    @include m.line-height(38);
                }
            }
        }
    }
}

@include m.max-media(mobile){
    .about-component{
        flex-direction: column;
        padding: 2rem 1rem;
        .aboutinfo-section{
            width: 100%;
            margin-top: 2rem;
            padding: 0rem;

            .heading-section{
                span{
                    max-width: 80px;
                    max-height: 80px;
                }
            }

            .subheading-section{
                h3{
                    font-size: clamp(24px, 5vw, 32px);
                    @include m.line-height(32);
                }
            }
        }

        .aboutimage-section{
            width: 100%;
        }
    }
}
