@use '../../mixins' as m;

.about-component{
    width: var(--lg-screen-maxwidth);
    min-width: var(--lg-screen-minwidth);
    height: 100vh;
    margin-inline: auto;
    color: var(--black-color);
    position: relative;
    display: flex;
    overflow: hidden;

    .aboutinfo-section{
        width: 50%;
        height: 100%;
        margin-top: 5rem;
        padding: 4rem 5.5rem 0rem 0rem;

        .heading-section{
            display: flex;
            align-items: center;
            margin-bottom: 2rem;

            span{
                display: inline-block;
                max-width: 130px;
                max-height: 130px;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }

            h2{
                @include m.font-size(48);
                @include m.line-height(48);
                font-weight: 700;
                letter-spacing: 5px;
                font-family: "Outfit", sans-serif;

                span{
                    &:last-child{
                        font-weight: 100;
                    }
                }
            }

        }

        .subheading-section{
            margin-bottom: 2rem;

            h3{
                @include m.font-size(48);
                @include m.line-height(48); 
                font-weight: 700;
                letter-spacing: 5px;

                span{
                    &:last-child{
                        font-weight: 100;
                    }
                }
            }
        }

        p{
            @include m.font-size(20);
            @include m.line-height(24);
            font-weight: 300;
            font-family: "Outfit", sans-serif;
            color: #838383;
            margin-bottom: 2rem;
        }
    }

    .aboutimage-section{
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;

        .imagecontainer{
            width: 25rem;
            height: 44.5rem;
            overflow: hidden;
            padding: 2.5rem;
            border-radius: 50px 0px 50px 0px;
            background: linear-gradient(139.04deg, rgba(175, 136, 223, 0.62) 29.4%, rgba(135, 105, 172, 0.04) 47.57%, rgba(95, 74, 121, 0) 69.54%);
            z-index: 10;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50px 0px 50px 0px;
            }
        }
    }

    .bg-layer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;

        @include m.floatMove(50px, 80px, 10s, ease-in-out);
    }
}